<div style="background-color: pink" id="<%= dom_id idea %>">
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="big">Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong class="label big">Picture:</strong>
    <%= image_tag(idea.picture_url, width: 600) if idea.picture? %> 
  </p>

</div>
