<h1>THESE ARE WORDS</h1>
<p>Look at all my words</p>
<p><strong class="big">and this dog!</strong></p>
<p><img src="https://hips.hearstapps.com/hmg-prod/images/bernese-mountain-dog-royalty-free-image-1581013857.jpg" width="50"/>